@model IEnumerable<ProjectBlogNews.Models.Article>
@{
    ViewData["Title"] = "News Blog";
}

<div class="container mt-5">
    <div class="jumbotron text-center">
        <h1 class="display-4">Best NEWS Blog in THE WORLD</h1>
    </div>

    <div class="row">
        @foreach (var item in Model)
        {
            <div class="col-md-6">
                <div class="card mb-4">
                    <div class="card-body" data-testid="article-card">
                        <h2 class="card-title" data-testid="article-title">
                            <a asp-controller="Articles" asp-action="DetailsView" asp-route-id="@item.Id">@item.Title</a>
                        </h2>
                        <h data-testid="article-releaseDate" 5>@Html.DisplayFor(modelItem => item.ReleaseDate)</h>
                        <p class="card-text">
                            <small class="text-muted" data-testid="article-authorFullName">
                                By @Html.DisplayFor(modelItem => item.Author.FirstName) @Html.DisplayFor(modelItem => item.Author.LastName)
                            </small>
                        </p>
                    </div>
                </div>
            </div>
        }
    </div>

    <!-- Pagination -->
    <nav aria-label="Page navigation">
        <ul class="pagination justify-content-center">
            @if (Model != null)
            {
                for (int i = 1; i <= ViewBag.TotalPages; i++)
                {
                    <li class="page-item @(i == ViewBag.CurrentPage ? "active" : "")">
                        <a class="page-link" href="@Url.Action("Index", new { page = i })">@i</a>
                    </li>
                }
            }
        </ul>
    </nav>
</div>