@model ProjectBlogNews.Models.Article
@{
    ViewData["Title"] = "Article Details";
}

<h1>@Html.DisplayFor(model => model.Title)</h1>
<p>Release date <b>@Html.DisplayFor(model => model.ReleaseDate)</b></p>
<h4>@Html.DisplayFor(model => model.FreeContent)</h4>
@if (ViewData["userHasPremium"] is bool userHasPremium && userHasPremium)
{
    <p>@Html.DisplayFor(model => model.PremiumContent)</p>
}
else
{
    <p>@ViewData["AvailablePremiumContentForNonPremium"]...</p>
    <br />
   <b><p>Buy premium to see 75% left content in this article!</p></b>
}

<p>Created by: <b>@Html.DisplayFor(model => model.Author.FirstName) @Html.DisplayFor(model => model.Author.LastName)</b></p>


<a asp-controller="Home" asp-action="Index">Go back tou our awsome news list!</a>
