@model IEnumerable<ProjectBlogNews.Models.Article>

@{
    ViewData["Title"] = "Index";
}

<div class="container">
    <h1>List of articles</h1>

    <p>
        <a asp-action="Create" data-testid="button-add" class="btn btn-primary">Create New</a>
    </p>

    <div class="card">
        <div class="card-body">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.Title)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.ReleaseDate)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.FreeContent)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.PremiumContent)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Author)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.ImageFileName)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.AltText)
                        </th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr data-testid="article-row">
                            <td data-testid="article-title">
                                @Html.DisplayFor(modelItem => item.Title)
                            </td>
                            <td data-testid="article-releaseDate">
                                @Html.DisplayFor(modelItem => item.ReleaseDate)
                            </td>
                            <td data-testid="article-freeContent">
                                @{
                                    var truncatedFreeContent = item.FreeContent.Length > 100 ? item.FreeContent.Substring(0, 100) + "..." : item.FreeContent;
                                    @Html.Raw(truncatedFreeContent)
                                }
                            </td>
                            <td data-testid="article-premiumContent">
                                @{
                                    var truncatedPremiumContent = item.PremiumContent.Length > 100 ? item.PremiumContent.Substring(0, 100) + "..." : item.PremiumContent;
                                    @Html.Raw(truncatedPremiumContent)
                                }
                            </td>
                            <td data-testid="article-authorLastName" >
                                @Html.DisplayFor(modelItem => item.Author.LastName)
                            </td>
                            <td data-testid="article-imageFile">
                                @Html.DisplayFor(modelItem => item.ImageFileName)
                            </td>
                            <td data-testid="article-altText">
                                @Html.DisplayFor(modelItem => item.AltText)
                            </td>
                            <td data-testid="operations">
                                <a asp-action="Edit" data-testid="button-edit" asp-route-id="@item.Id" class="btn btn-warning">Edit</a>
                                <a asp-action="Details" data-testid="button-details" asp-route-id="@item.Id" class="btn btn-info">Details</a>
                                <a asp-action="Delete" data-testid="button-delete" asp-route-id="@item.Id" class="btn btn-danger">Delete</a>
                            </td>
                        </tr>
                    }

                </tbody>
            </table>
        </div>
    </div>
</div>
