@model List<ProjectBlogNews.Data.ApplicationUser>
@inject Microsoft.AspNetCore.Identity.UserManager<ProjectBlogNews.Data.ApplicationUser> _userManager
@using Microsoft.AspNetCore.Identity

<div class="container">
    <h1 class="mt-4">List of Users</h1>

    <p>
        <a asp-action="Create" data-testid="button-add" class="btn btn-primary">Create New</a>
    </p>

    <div class="card">
        <div class="card-body">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>First Name</th>
                        <th>Last Name</th>
                        <th>Email</th>
                        <th>Birth Date</th>
                        <th>Roles</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var user in Model)
                    {
                        <tr data-testid="user-row">
                            <td data-testid="user-firstname">@user.FirstName</td>
                            <td data-testid="user-lastname">@user.LastName</td>
                            <td data-testid="user-email">@user.Email</td>
                            <td data-testid="user-birthdate">@user.BirthDate.ToShortDateString()</td>
                            <td>
                                @foreach (var role in await _userManager.GetRolesAsync(user))
                                {
                                    <span>@role</span>
                                }
                            </td>
                            <td>
                                <div class="btn-group" role="group" aria-label="User Actions">
                                    <a class="btn btn-info" href="@Url.Action("Details", new { id = user.Id })">Details</a>
                                    <a class="btn btn-warning" href="@Url.Action("Edit", new { id = user.Id })">Edit</a>
                                    <a class="btn btn-danger" href="@Url.Action("Delete", new { id = user.Id })">Delete</a>
                                </div>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
